.container{
    position: relative;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}
li {
    float: right;
}
  
li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: gray;
}

.content{
    text-align: center;
    margin: 60px 40px 2.5rem 40px;
    padding-bottom: 2.5rem;
}

.search{
    margin-top: 1em;
    width: 40%;
    display: inline-block;
}

.bt{
    margin-top: 2.5em;
}

.bt a{
    display: inline;
    text-decoration: none;
    background-color: lightgray;
    border: lightgray;
    padding: 5px;
    color: gray;
    font-size: 14px;
}

.bt a:hover{
    text-decoration: gray;
}

p{
    font-size: 12px;
    color: gray;
    margin-top: 2em;
}

p a{
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.location p{
    font-size: 14px;
    background-color: lightgray;
    height: ;
    margin-top: 2em;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 99.4%;
    height: 2.5rem;
}

.foot-nav{
    background-color: lightgray;
}

.foot-nav ul li:first-child{
    float: left;
}

.foot-nav ul li:nth-child(2){
    float: left;
}

.foot-nav ul li:nth-child(3){
    float: left;
}

.foot-nav ul li:nth-child(4){
    float: left;
}

.foot-nav ul li{
    list-style: none;
    margin: 4px;
    float: right;
}

.foot-nav a:hover{
    text-decoration: underline;
}