.container{
    position: relative;
    height: 500px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}
li {
    float: right;
}
  
li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: gray;
}

.content{
    text-align: center;
    margin: 170px;
    padding-bottom: 40px;
}

.search{
    margin-top: 10px;
    width: 40%;
    display: inline-block;
}

.bt{
    margin-top: 20px;
}

.bt a{
    display: inline;
    text-decoration: none;
    background-color: lightgray;
    border: lightgray;
    padding: 5px;
    color: gray;
    font-size: 14px;
}

.bt a:hover{
    text-decoration: gray;
}

p{
    font-size: 12px;
    color: gray;
    margin-top: 20px;
}

p a{
    color: blue;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.bt a:hover{
    border: 1px solid gray;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 99.4%;
    height: 44px;
}

.foot-nav{
    background-color: lightgray;
}

.foot-nav ul li:first-child{
    float: left;
}

.foot-nav ul li:nth-child(2){
    float: left;
}

.foot-nav ul li:nth-child(3){
    float: left;
}

.foot-nav ul li:nth-child(4){
    float: left;
}

.foot-nav ul li{
    list-style: none;
    /*margin: 4px;*/
    float: right;
}

.foot-nav a:hover{
    text-decoration: underline;
}